.paginationWrapper {
  
  display: flex;
  justify-content: center;
}

.separator {
  width: 38px;
  height: 42px;
  padding: 10px;
  color: var(--Text-Color, #151411);
  text-align: center;
  font-family: Eudoxus Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.pageItem {
  background: transparent;
  border: none;
  height: 42px;
  width: 38px;
  // padding: 10px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-primary);

  &:focus {
    outline: 0;
  }
}

.active {
  background-color: var(--brand);
  color: var(--button-primary-text);
}

.sides{
  margin: 0 15px;
  padding: 5px 3px;
}