.title{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.p-20{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.p-18{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.p-16{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.p-14{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}