@import 'styles/variables.scss';

.recipe_page {
    padding: 49px 7vw;
    position: relative;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 37px;
    & > button {
        background: transparent;
        border: none;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }
}

.withImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > img {
        border-radius: $border-radius;
    }
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.info {
    display: flex;
    gap: 100px;
    flex-direction: row;
    margin-right: 150px;
}

.info_group {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info_group_div {
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
    align-items: center;
}

.text_container {
    padding: 36px;
    border-radius: $border-radius;
    background: rgba(181, 70, 15, 0.33);
    a {
        color: inherit;
    }
}

.ingredients_equipment {
    display: flex;
    flex-direction: row;
}

.ie_items {
    margin-top: $space-xl;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-xxs 29px;
}
.ing {
    max-width: 628px;
}

.ie_items__div {
    display: flex;
    flex-direction: row;
    gap: $space-m;
    align-items: center;
}

.separator {
    position: relative;
    width: 7px;
    margin-right: 50px;
}
.vertical_line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 12px;
    left: 3px;
    background: $brand;
}

.dot {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: $brand;
    border-radius: 50%;
}

.directions {
    max-width: 700px;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: $space-m;
    margin-top: $space-xl;
}

.steps__div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .withImage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .ingredients_equipment {
        display: flex;
        flex-direction: column;
    }
    .image {
        margin-right: 150px;
        margin-bottom: 40px;
    }
    .separator {
        display: none;
    }
    .eq_container {
        margin-top: 20px;
    }
}

@media (max-width:768px){
    .ie_items{
        display: grid;
        grid-template-columns: 1fr;
    }
    .info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width:100%;
        gap:unset;
    }
    .info_group{
        gap:10px;
        margin: 5px;
    }

}
