@import './Roboto/fonts.scss';



html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body{
  background: rgba(255, 192, 118, 0.23);
}
* {
  box-sizing: border-box;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

:root{
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 14px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --brand: #B5460F;
  --brand-hover: rgba(181, 70, 15, 0.7);
  --brand-active: #872D01;
  --button-primary-bg: #B5460F;
  --button-primary-bg-active: #872D01;
  --button-primary-bg-disabled: #D9D9D9;
  --button-primary-bg-hover: #B5460FB2;
  --button-primary-text: #FFFFFF;
  --button-primary-text-active: #FFFFFF;
  --button-primary-text-disabled: #FFFFFF;
  --button-primary-text-hover: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-image-bg: #D9D9D9;
  --checkbox-bg: #FFFFFF;
  --checkbox-bg-disabled: #FFFFFF80;
  --checkbox-bg-hover: #FFFFFF;
  --checkbox-border: #FFFFFF;
  --checkbox-border-disabled: #FFFFFF00;
  --checkbox-border-hover: #B5460F;
  --checkbox-check: #B5460F;
  --checkbox-check-disabled: #00000033;
  --checkbox-check-hover: #B5460F;
  --dropdown-options-bg: #FFFFFF;
  --input-bg: #FFFFFF;
  --input-bg-disabled: #FFFFFF;
  --input-bg-focus: #FFFFFF;
  --input-border: #FFFFFF;
  --input-border-disabled: #FFFFFF;
  --input-border-focus: #B5460F;
  --input-placeholder: #AFADB5;
  --input-text:#000000;
  --input-text-disabled: #00000033;
  --input-text-focus: #000000;
  --loader-bg: #B5460F;
  --text-accent: #B5460F;
  --text-primary: #000000;
  --text-secondary: #AFADB5;
  --border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}