$space-xxs: 8px;
$space-xs: 12px;
$space-s: 14px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$brand: #b5460f;
$brand-hover: rgba(181, 70, 15, 0.7);
$brand-active: #872d01;
$button-primary-bg: #b5460f;
$button-primary-bg-active: #872d01;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-hover: #b5460fb2;
$button-primary-text: #ffffff;
$button-primary-text-active: #ffffff;
$button-primary-text-disabled: #ffffff;
$button-primary-text-hover: #ffffff;
$card-bg: #ffffff;
$card-image-bg: #d9d9d9;
$checkbox-bg: #ffffff;
$checkbox-bg-disabled: #ffffff80;
$checkbox-bg-hover: #ffffff;
$checkbox-border: #ffffff;
$checkbox-border-disabled: #ffffff00;
$checkbox-border-hover: #b5460f;
$checkbox-check: #b5460f;
$checkbox-check-disabled: #00000033;
$checkbox-check-hover: #b5460f;
$dropdown-options-bg: #ffffff;
$input-bg: #ffffff;
$input-bg-disabled: #ffffff;
$input-bg-focus: #ffffff;
$input-border: #ffffff;
$input-border-disabled: #ffffff;
$input-border-focus: #b5460f;
$input-placeholder: #afadb5;
$input-text: #000000;
$input-text-disabled: #00000033;
$input-text-focus: #000000;
$loader-bg: #b5460f;
$text-accent: #b5460f;
$text-primary: #000000;
$text-secondary: #afadb5;
$border-radius: 10px;

@mixin link-reset() {
    text-decoration: none;
    color: inherit;
}
