@import '/src/variables.scss' ;

.card-image-container{
    overflow: hidden;
    width: 360px;
  height: 360px;
  border-radius: 10px 10px 0px 0px;
}
.card-image {
  height: 100%;
  background: $card-image-bg;
  border-radius: 10px 10px 0px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: $card-bg;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  background: $card-bg;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: $space-l;
  padding-left: $space-xs;
  padding-right: $space-xs;
  background: $card-bg;
  padding-top: $space-xl;
  width: 360px;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  flex-grow: 1;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $space-xl;
}

.card-action {
  width: 100%;
}

.recipe-card {
  margin-bottom: 64px;
}
