@import '/src/variables.scss' ;

.input_container.open{
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
    
}

.option {
    padding-left: $space-xs;
    padding-right: $space-xs;
    padding-top: $space-s;
    padding-bottom: $space-s;
    background-color: $dropdown-options-bg;
}

.option:hover{
    color: $text-secondary;
}

.option.selected{
    color: $text-accent;
}

.options {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.food_categories{
    width: 300px;
    margin-left: auto;
}